<section class="section section-about" id="about">
  <div class="container about-container">  
    <div class="about-grid">
      <div class="about-grid-items first">
        <div class="sub-about">
          <h2 class="title-about">Про мене</h2>
        </div>
        <h4 class="subtitle-about">Вітаю!</h4>
        <p class="about-items">
          Я, Тетяна Черкашина &#8722; сертифікований птахівник з восьмирічним
          досвідом вирощування свійської птиці на приватному подвір’ї.
        </p>
        <p class="about-items">
          Обізнане птахівництво &#8722; це птахівництво майбутнього. Але я вже
          сьогодні ділюсь своїми знаннями і досвідом з вами.
        </p>
        <p class="about-items">
          Своєю місією я вважаю допомогти починаючім у птахівництві і людям, у
          яких є досвід, але негативний &#8722; не опустити рук при перших же
          труднощах.
        </p>
        <p class="about-items">
          Більше 300 людей виростили і інкубували птицю разом зі мною і дуже
          задоволені. Якщо ви тільки збираєтесь тримати птицю для своїх потреб
          &#8722; вам до мене! Якщо вже тримаєте, але не все виходить &#8722;
          вам до мене! Якщо ваша птиця хворіє &#8722; вам до мене!
        </p>
        <p class="about-items">
          Саме цьому я навчатиму у своїй «Онлайн школі птахівництва».
          Відрізняюсь тим, що вирощую птицю разом з вами. І ви бачите мої
          перемоги та поразки.
        </p>
      </div>
      <div class="about-grid-items second">
        <div class="swiper-about-container">
          <div class="swiper-about">
            <div class="sub-course">
              <h4 class="subtitle-swiper-about">документовані свідоцтва</h4>
            </div>
            <ul class="swiper-wrapper">
              <li class="swiper-slide about">
                <!-- <div class="rotate"></div> -->
                <picture class="image-cert">
                  <source
                    srcset="
                      ./img/about/one-desk-1@1x.jpg 1x,
                      ./img/about/one-desk-1@2x.jpg 2x
                    "
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="
                      ./img/about/one-desk@1x.jpg 1x,
                      ./img/about/one-desk@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      ./img/about/one-mob@1x.jpg 1x,
                      ./img/about/one-mob@2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    src="./img/about/one-mob@1x.jpg"
                    alt="сертифікат"
                    width=""
                  />
                </picture>
              </li>
              <li class="swiper-slide about">
                <!-- <div class="rotate"></div> -->
                <picture class="image-cert">
                  <source
                    srcset="
                      ./img/about/two-desk-1@1x.jpg 1x,
                      ./img/about/two-desk-1@2x.jpg 2x
                    "
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="
                      ./img/about/two-desk@1x.jpg 1x,
                      ./img/about/two-desk@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      ./img/about/two-mob@1x.jpg 1x,
                      ./img/about/two-mob@2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    src="./img/about/two-mob@1x.jpg"
                    alt="сертифікат"
                    width=""
                  />
                </picture>
              </li>
              <li class="swiper-slide about">
                <!-- <div class="rotate"></div> -->
                <picture class="image-cert">
                  <source
                    srcset="
                      ./img/about/sert-desk-1@1x.jpg 1x,
                      ./img/about/sert-desk-1@2x.jpg 2x
                    "
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="
                      ./img/about/sert-desk@1x.jpg 1x,
                      ./img/about/sert-desk@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      ./img/about/sert-mob@1x.jpg 1x,
                      ./img/about/sert-mob@2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    src="./img/about/sert-mob@1x.jpg"
                    alt="сертифікат"
                    width=""
                  />
                </picture>
              </li>
              <li class="swiper-slide about">
                <!-- <div class="rotate"></div> -->
                <picture class="image-cert">
                  <source
                    srcset="
                      ./img/about/srt-4-desk-1@1x.jpg 1x,
                      ./img/about/srt-4-desk-1@2x.jpg 2x
                    "
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="
                      ./img/about/srt-4-desk@1x.jpg 1x,
                      ./img/about/srt-4-desk@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      ./img/about/srt-4-mob@1x.jpg 1x,
                      ./img/about/srt-4-mob@2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    src="./img/about/srt-4-mob@1x.jpg"
                    alt="сертифікат"
                    width=""
                  />
                </picture>
              </li>
              <li class="swiper-slide about">
                <!-- <div class="rotate"></div> -->
                <picture class="image-cert">
                  <source
                    srcset="
                      ./img/about/srt-1-desk@1x.jpg 1x,
                      ./img/about/srt-1-desk@2x.jpg 2x
                    "
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="
                      ./img/about/srt-3-desk@1x.jpg 1x,
                      ./img/about/srt-3-desk@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      ./img/about/srt-3-mob@1x.jpg 1x,
                      ./img/about/srt-3-mob@2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    src="./img/about/srt-3-mob@1x.jpg"
                    alt="сертифікат"
                    width=""
                  />
                </picture>
              </li>
            </ul>
          </div>
          <!-- <div class="swiper-button-next-2">
            <button type="button" class="button-about-swiper">
              <svg class="arrow-next-about" width="28" height="28">
                <use href="./img/icons.svg#icon-arrow-left"></use>
              </svg>
            </button>
          </div> -->
        </div>
      </div>
      <div class="about-grid-items three">
        <ul class="image-list">
          <li class="about-block">
            <picture class="image-about">
              <source
                srcset="
                  ./img/about/about-desk@1x.jpg 1x,
                  ./img/about/about-desk@2x.jpg 2x
                "
                media="(min-width: 1158px)"
              />
              <source
                srcset="
                  ./img/about/about-tab@1x.jpg 1x,
                  ./img/about/about-tab@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./im/about/about-mob@1x.jpg  1x,
                  ./img/about/about-mob@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="./img/about/about-mob@1x.jpg" alt="Тетяна" width="" />
            </picture>
          </li>
        </ul>
      </div>
      <div class="about-grid-items fourst">
    
        <p class="about-items">
          Селекціонери працюють і отримують все більш продуктивні лінії птиці. А
          вона, в свою чергу, потребує правильного утримання, профілактики
          захворювань і збалансованого харчування.
        </p>
        <p class="about-items">
          Сама я, також, проходжу курси підвищення кваліфікації. Для того, щоб
          ви дізнавались вчасно про новітні методи утримання свійської птиці.
        </p>
        <p class="about-items">
          Підвищення кваліфікації в Херсонському національному аграрному
          університеті дало мені багато нових знань з приводу розвитку
          птахівництва в сучасних умовах.
        </p>
        <p class="about-items">
          В якому напрямку розвивати сучасну міні-ферму, щоб залишатись з
          прибутком цілий рік.
        </p>
        <p class="about-items">
          Я дізналась про новітні технології у вирощуванні бройлерноі птиці, про
          розвиток зеленого туризму, створення спілок птахівників, які
          допомагають один одному у скрутних ситуаціях.
        </p>  
        <p class="about-items">
          Всіма цими знаннями я з задоволенням поділюся з вами і допоможу
          розвиватись в галузі мультифермерства і залучати матеріальну підтримку
          на розвиток вашої справи від фондів підтримки для фермерів України
        </p>
      </div>
     
    </div>
   
  </div>
</section>
