<section class="hero-section" id="hero">
  <div class="container">
    <div class="swiper-hero">
      <div class="swiper-wrapper">
        <div class="swiper-slide hero">
          <div class="hero-wrapper">
            <div class="hero-info">
              <h2 class="courses-title">
                Курси по вирощуванню птиці &#58; 
                <span class="add-font">(інформація доступна необмежений час)</span> 
              </h2>
              <h2 class="user-name courses-subtitle">Бройлер</h2>
              <p class="user-text add-text">
                Мій досвід у вирощуванні цієї птиці - 8 років!
                Було багато невдач, хвороби, синюшність птиці, роз‘іхавшися лапи і багато іншого!
                Далі - навчання на Науково дослідницькій станції птахівництва.
                Я проведу вас за руку, починаючи з інкубаційного яйця, або добового курчати - до забою і переробки м‘яса!
                Мій постійний зв’язок з вами, підтримка і відповіді на усі запитання,
                 а також прорахунок рентабельності утримання цієї птиці на моєму 
                 прикладі - це головний бонус цього курсу. 
              </p> 
              <div  class="see-hero-btn">
                <a class="main-btn" href="https://secure.wayforpay.com/button/becd9760a746a" target="_blank">купити курс 1700 &#8372;</a>
              </div>	
            </div>             
            <div class="hero-image">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/courses/broiler-desk@1x.jpg 1x,
                    ./img/courses/broiler-desk@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/hero/main@1x.jpg 1x,
                    ./img/hero/main@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/hero/main@1x.jpg 1x,
                    ./img/hero/main@2x.jpg  2x
                  "
                />
                <img
                  src="./img/hero/main@1x.jpg"
                  alt="Тетяна Черкашина"
                  width="704"
                  height="532"
                />
              </picture>
              <!-- <img srcset="./img/hero/main@1x.jpg 1x, ./img/hero/main@2x.jpg 2x"
              src="./img/hero/main@1x.jpg"
              alt="Тетяна Черкашина"
              width=""
              height="" />  -->
            </div>
          </div>
        </div>           
        <div class="swiper-slide hero">
          <div class="hero-wrapper">
            <div class="hero-info">
              <h3 class="courses-title">
                Курси по вирощуванню птиці &#58; 
                <span class="add-font">(інформація доступна необмежений час)</span> 
              </h3>
              <h2 class="user-name courses-subtitle">Несушка</h2>
              <p class="user-text add-text">  
                Хочу представити повний курс по вирощуванню несушки і м‘ясояєчноі курки.
                Цей курс підійде тим, хто хоче вирощувати на своєму подвір’ї курей і отримувати від цього процесу повноцінний результат!
                 <br> Ви зможете:
                <br>Побудувати курник
                <br>Зробити правильну вентиляцію
                <br>Готувати корми самотужки і багато іншого
                <br>Курс по вирощуванню несушки - 24 відео, 9 таблиць.
              </p> 
              <div class="see-hero-btn">
                <a class="main-btn" href="https://secure.wayforpay.com/button/b876aa77e19dc" target="_blank">купити курс 1200 &#8372;</a>
              </div>
             
            </div>
            <div class="hero-image">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/courses/nes-desk@1x.jpg 1x,
                    ./img/courses/nes-desk@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/hero/main-2@1x.jpg 1x,
                    ./img/hero/main-2@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/hero/main-2@1x.jpg 1x,
                    ./img/hero/main-2@2x.jpg  2x
                  "
                />
                <img
                  src="./img/hero/main-2@1x.jpg"
                  alt="корзина"
                  width="704"
                  height="532"
                />
              </picture>
              <!-- <img srcset="./img/hero/main-2@1x.jpg 1x, ./img/hero/main-2@2x.jpg 2x"
              src="./img/hero/main-2@1x.jpg"
              alt="Тетяна Черкашина"
              width=""
              height="" /> -->
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</section>
