<section class="courses"  id="courses">
  <div class="container container-courses">
    <div >
      <h4 class="courses-title">Курси по вирощуванню птиці</h4>
    </div> 
    <div class="swiper">
       <h2> Курси по вирощуванню птиці <span class="add-font">(інформація доступна необмежений час)</span> </h2>
    <div class="slider-wrapper">
      <ul class="card-list add-list swiper-wrapper">
        <li class="card-item add-card swiper-slide">
          <h2 class="user-name courses-subtitle">Перепілка</h2>	
          <div class="course-wrapper">			    
            <picture>
            <source
              srcset="./img/courses/perep-desk@1x.jpg 1x, ./img/courses/perep-desk@2x.jpg 2x" media="(min-width: 1158px)"/>
            <source
              srcset="./img/courses/perep-tab@1x.jpg 1x, ./img/courses/perep-tab@2x.jpg 2x" media="(min-width: 768px)"/>                  
            <source
              srcset="./img/courses/perep-mob@1x.jpg 1x, ./img/courses/perep-mob@2x.jpg 2x" media="(max-width: 767px)"/>
            <img class="add-image"
              src="./img/courses/perep-mob@1x.jpg" alt="фото Тетяни з перепілкою"/>
            </picture>               
            <p class="user-text add-text">
              Мій дворічний досвід в перепіловодстві і піврічне навчання у 
              провідних зоотехніків, допоможе вам
              <br> виростити важку птицю
              <br> скласти продуктивні маточні стада
              <br> готувати корми з необхідною кількістю протеїну власноруч
              <br> зробити клітки із підручних матеріалів власноруч
              <br> дізнатись про потрібний світловий і тепловий режими для найкращої яйценоскості
            </p>
          </div>	
          <div>
            <a class="main-btn" href="https://secure.wayforpay.com/button/bea302bd40a89" target="_blank">купити курс 1200 &#8372;</a>
          </div>						             
        </li>
        <li class="card-item add-card swiper-slide">
          <h2 class="user-name courses-subtitle">Бройлер</h2>	
          <div class="course-wrapper">               			 
            <picture>
            <source
              srcset="./img/courses/broiler-desk@1x.jpg 1x, ./img/courses/broiler-desk@2x.jpg 2x" media="(min-width: 1158px)"/>
            <source
              srcset="./img/courses/broiler-tab@1x.jpg 1x, ./img/courses/broiler-tab@2x.jpg 2x" media="(min-width: 768px)"/>                   
            <source
              srcset="./img/courses/bro-mob@1x.jpg 1x, ./img/courses/bro-mob@2x.jpg 2x" media="(max-width: 767px)"/>
            <img class="add-image"
              src="./img/courses/bro-mob@1x.jpg" alt="фото курчат"/>
            </picture>                
            <p class="user-text add-text">
              Мій досвід у вирощуванні цієї птиці-8 років!
              Було багато невдач, хвороби, синюшність птиці, роз‘іхавшися лапи і багато іншого!
              Далі - навчання на Науково дослідницькій станції птахівництва.
              Я проведу вас за руку, починаючи з інкубаційного яйця, або добового курчати - до забою і переробки м‘яса!
              Мій постійний зв’язок з вами, підтримка і відповіді на усі запитання,
               а також прорахунок рентабельності утримання цієї птиці на моєму 
               прикладі - це головний бонус цього курсу. 
            </p> 
           </div>             
          <div>
            <a class="main-btn" href="https://secure.wayforpay.com/button/becd9760a746a" target="_blank">купити курс 1700 &#8372;</a>
          </div>									
        </li>
        <li class="card-item add-card swiper-slide">
          <h2 class="user-name courses-subtitle">Індик</h2>	
          <div class="course-wrapper">             			 
            <picture>
              <source
              srcset="./img/courses/induk-desk@1x.jpg 1x, ./img/courses/induk-desk@2x.jpg 2x" media="(min-width: 1158px)"/>
              <source
              srcset="./img/courses/induk-tab@1x.jpg 1x,  ./img/courses/induk-tab@2x.jpg 2x" media="(min-width: 768px)"/>                  
              <source
              srcset="./img/courses/induk-mob@1x.jpg 1x, ./img/courses/induk-mob@2x.jpg 2x" media="(max-width: 767px)"/>
              <img class="add-image"
              src="./img/courses/induk-mob@1x.jpg" alt="фото індика"/>
            </picture>            
            <p class="user-text add-text">  
              Я вас запрошую у цікавий світ індиків- смачного і корисного м‘яса.
              Це чітка покрокова інструкція вирощування цієї птиці.
              Ви зможете пройти цей шлях легко - збережемо ваше поголів‘я, приумножимо ваші гроші і збережемо нерви!
              Головний подарунок для власників курсу- моя особиста підтримка і консультації ( безкоштовно)
              Виростимо індика вагою 20+ кг впродовж 4-5 місяців разом.
              <br>Курс по вирощуванню індика - 12 відео, 8 таблиць.
            </p>
            </div>               
          <div>
            <a class="main-btn" href="https://secure.wayforpay.com/button/bd856c1668173" target="_blank">купити курс 1200 &#8372;</a>
          </div>						            
        </li>	
        <li class="card-item add-card swiper-slide">
          <h2 class="user-name courses-subtitle">Несушка</h2>	
          <div class="course-wrapper">              			 
            <picture>
              <source
              srcset="./img/courses/nes-desk@1x.jpg 1x, ./img/courses/nes-desk@2x.jpg 2x" media="(min-width: 1158px)"/>
              <source
              srcset="./img/courses/nes-tab@1x.jpg 1x,  ./img/courses/nes-tab@2x.jpg 2x" media="(min-width: 768px)"/>                  
              <source
              srcset="./img/courses/nes-mob@1x.jpg 1x, ./img/courses/nes-mob@2x.jpg 2x" media="(max-width: 767px)"/>
              <img class="add-image"
              src="./img/courses/nes-mob@1x.jpg" alt="фото несушки"/>
            </picture>            
            <p class="user-text add-text">  
              Хочу представити повний курс по вирощуванню несушки і м‘ясояєчноі курки.
              Цей курс підійде тим, хто хоче вирощувати на своєму подвір’ї курей і отримувати від цього процесу повноцінний результат!
               <br> Ви зможете:
              <br>Побудувати курник
              <br>Зробити правильну вентиляцію
              <br>Готувати корми самотужки і багато іншого
              <br>Курс по вирощуванню несушки - 24 відео, 9 таблиць.
            </p> 
          </div>             
          <div>
            <a class="main-btn" href="https://secure.wayforpay.com/button/b876aa77e19dc" target="_blank">купити курс 1200 &#8372;</a>
          </div>						            
        </li>		
        <li class="card-item add-card swiper-slide">
          <h2 class="user-name courses-subtitle">Інкубація</h2>	
          <div class="course-wrapper">			 
            <picture>
              <source
              srcset="./img/courses/inkubaz-desk@1x.jpg 1x, ./img/courses/inkubaz-desk@2x.jpg 2x" media="(min-width: 1158px)"/>
              <source
              srcset="./img/courses/inkubaz-tab@1x.jpg 1x,  ./img/courses/inkubaz-tab@2x.jpg 2x" media="(min-width: 768px)"/>                  
              <source
              srcset="./img/courses/inkubaz-mob@1x.jpg 1x, ./img/courses/inkubaz-mob@2x.jpg 2x" media="(max-width: 767px)"/>
              <img class="add-image"
              src="./img/courses/inkubaz-mob@1x.jpg" alt="фото Тані біля брудера"/>
            </picture>            
            <p class="user-text add-text">  
              Отримаєте схеми інкубації свійських птахів, які працюють, 
              як швейцарський годинник на побутових інкубаторах 
              (розроблені зоотехніками).Бо схеми інкубації з інтернету - не адаптовані до побутових інкубаторів, 
              якими ми всі користуємось.
              <br> Яку птицю інкубуватимемо:
              <br> Курка,
               Індик,
               Перепілка,
              <br> Цесарка,
               Фазан,
               Гуска,
              <br> Качка "Мускусна",
               Качка "Пекінська".
            </p>
          </div>               
          <div>
            <a class="main-btn" href="https://secure.wayforpay.com/button/bcea863c7d42b"  target="_blank">купити курс 1200 &#8372;</a>
          </div>						            
        </li>		
      </ul>	
      <div class="swiper-pagination"></div>
      <div class="swiper-slide-button swiper-button-prev"></div>
      <div class="swiper-slide-button swiper-button-next"></div>            
    </div>
    </div>
</section>


