<section class="section section-products" id="products">
  <div class="container container-products">
    <h2 class="title-products">Яйця інкубаційні</h2>
    <div class="card-container">
    <div class="card">
      <p class="subtitle-products">В наявності </p>
      <div class="image-block">
        <img class="image-products"
          src="./img/products/eggs.jpg"
          alt="eggs"
          width="208"
          height="248"
        />
      </div>
      <span class="cart-text"> Яйця інкубаційні морана </span>
      <div class="cart-block">
        <div>
          <span class="cart-price"> 30 &#8372; </span
          ><span class="cart-value"> шт. </span>
        </div>
        <div aria-label="Add to Cart">
          <button
            class="btn-buy"
            type="button"
            aria-label="Increase quantity by 1"
          >
            Додати до кошика
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <p class="subtitle-products">В наявності </p>
      <div class="image-block">
        <img class="image-products"
          src="./img/products/quail-eggs.jpg"
          alt="eggs"
          width="208"
          height="248"
        />
      </div>
      <span class="cart-text"> Яйця інкубаційні морана </span>
      <div class="cart-block">
        <div>
          <span class="cart-price"> 30 &#8372; </span
          ><span class="cart-value"> шт. </span>
        </div>
        <div aria-label="Add to Cart">
          <button
            class="btn-buy"
            type="button"
            aria-label="Increase quantity by 1"
          >
            Додати до кошика
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <p class="subtitle-products">В наявності </p>
      <div class="image-block">
        <img class="image-products"
          src="./img/products/eggs-2.jpg"
          alt="eggs"
          width="208"
          height="248"
        />
      </div>
      <span class="cart-text"> Яйця інкубаційні морана </span>
      <div class="cart-block">
        <div>
          <span class="cart-price"> 30 &#8372; </span
          ><span class="cart-value"> шт. </span>
        </div>
        <div aria-label="Add to Cart">
          <button
            class="btn-buy"
            type="button"
            aria-label="Increase quantity by 1"
          >
            Додати до кошика
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <p class="subtitle-products">В наявності </p>
      <div class="image-block">
        <img class="image-products"
          src="./img/products/eggs-1.jpg"
          alt="eggs"
          width="208"
          height="248"
        />
      </div>
      <span class="cart-text"> Яйця інкубаційні морана </span>
      <div class="cart-block">
        <div>
          <span class="cart-price"> 30 &#8372; </span
          ><span class="cart-value"> шт. </span>
        </div>
        <div aria-label="Add to Cart">
          <button
            class="btn-buy"
            type="button"
            aria-label="Increase quantity by 1"
          >
            Додати до кошика
          </button>
        </div>
      </div>
    </div>
    <!-- <div class="card">
      <div class="image-block">
        <img class="image-products"
          src="../img/products/quail-eggs.jpg"
          alt="eggs"
          width="208"
          height="248"
        />
      </div>
      <span class="cart-text"> Яйця інкубаційні морана </span>
      <div class="cart-block">
        <div>
          <span class="cart-price"> 30 &#8372; </span
          ><span class="cart-value"> шт. </span>
        </div>
        <div aria-label="Add to Cart">
          <button
            class="btn-buy"
            type="button"
            aria-label="Increase quantity by 1"
          >
            Додати до кошика
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="image-block">
        <img class="image-products"
          src="../img/products/eggs.jpg"
          alt="eggs"
          width="208"
          height="248"
        />
      </div>
      <span class="cart-text"> Яйця інкубаційні морана </span>
      <div class="cart-block">
        <div>
          <span class="cart-price"> 30 &#8372; </span
          ><span class="cart-value"> шт. </span>
        </div>
        <div aria-label="Add to Cart">
          <button
            class="btn-buy"
            type="button"
            aria-label="Increase quantity by 1"
          >
            Додати до кошика
          </button>
        </div>
      </div>
    </div>  -->
    </div>
    <h2 class="title-products two">М'ясо домашнє</h2>
    <div class="card-container">
    <div class="card">
      <div class="image-block">
        <p class="subtitle-products">В наявності </p>
        <img class="image-products"
          src="./img/products/quail.jpg"
          alt="meat quail"
          width="208"
          height="248"
        />
      </div>
      <span class="cart-text"> М'ясо перепілки </span>
      <div class="cart-block">
        <div>
          <span class="cart-price"> 190 &#8372; </span
          ><span class="cart-value"> кг </span>
        </div>
        <div aria-label="Add to Cart">
          <button
            class="btn-buy"
            type="button"
            aria-label="Increase quantity by 1"
          >
            Додати до кошика
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <p class="subtitle-products">Очікується</p>
      <div class="image-block">
        <img class="image-products"
          src="./img/products/chicken.jpg"
          alt="meat chicken"
          width="208"
          height="248"
        />
      </div>
      <span class="cart-text">М'ясо бройлера </span>
      <div class="cart-block">
        <div>
          <span class="cart-price"> 190 &#8372; </span
          ><span class="cart-value"> кг </span>
        </div>
        <div aria-label="Add to Cart">
          <button
            class="btn-buy"
            type="button"
            aria-label="Increase quantity by 1"
          >
            Додати до кошика
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <p class="subtitle-products">Очікується</p>
      <div class="image-block">
        <img class="image-products"
          src="./img/products/turk.jpg"
          alt="meat turkey"
          width="208"
          height="248"
        />
      </div>
      <span class="cart-text"> М'ясо індика </span>
      <div class="cart-block">
        <div>
          <span class="cart-price"> 250 &#8372; </span
          ><span class="cart-value"> кг </span>
        </div>
        <div aria-label="Add to Cart">
          <button
            class="btn-buy"
            type="button"
            aria-label="Increase quantity by 1"
          >
            Додати до кошика
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <p class="subtitle-products">Очікується</p>
      <div class="image-block">
        <img class="image-products"
          src="./img/products/duck.jpg"
          alt="duck"
          width="208"
          height="248"
        />
      </div>
      <span class="cart-text"> М'ясо вутки </span>
      <div class="cart-block">
        <div>
          <span class="cart-price"> 250 &#8372; </span
          ><span class="cart-value">  кг </span>
        </div>
        <div aria-label="Add to Cart">
          <button
            class="btn-buy"
            type="button"
            aria-label="Increase quantity by 1"
          >
            Додати до кошика
          </button>
        </div>
    
      </div>
    </div>
    <!-- <div class="card">
      <div class="image-block">
        <img class="image-products"
          src="../img/products/quail-eggs.jpg"
          alt="eggs"
          width="208"
          height="248"
        />
      </div>
      <span class="cart-text"> Яйця інкубаційні морана </span>
      <div class="cart-block">
        <div>
          <span class="cart-price"> 30 &#8372; </span
          ><span class="cart-value"> шт. </span>
        </div>
        <div aria-label="Add to Cart">
          <button
            class="btn-buy"
            type="button"
            aria-label="Increase quantity by 1"
          >
            Додати до кошика
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="image-block">
        <img class="image-products"
          src="../img/products/eggs.jpg"
          alt="eggs"
          width="208"
          height="248"
        />
      </div>
      <span class="cart-text"> Яйця інкубаційні морана </span>
      <div class="cart-block">
        <div>
          <span class="cart-price"> 30 &#8372; </span
          ><span class="cart-value"> шт. </span>
        </div>
        <div aria-label="Add to Cart">
          <button
            class="btn-buy"
            type="button"
            aria-label="Increase quantity by 1"
          >
            Додати до кошика
          </button>
        </div>
      </div>
    </div>  -->
    </div>
  </div>
</section>
 <!-- <div class="prices-add">                             
  <div class="simple-quantity">
    <div class="quantity-input">
      <div class="quantity-plus">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 3.33331V12.6666" stroke="#64748B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M3.33331 8H12.6666" stroke="#64748B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </div>
     <input value="1" oninput="this.value = this.value.replace(/[^0-9]/g, '');" class="quantity-select js-quantity-select" data-url="/product/variation?pid=ZDUMA006&amp;quantity=1" id="quantity-1" aria-label="quantity select">
    <div class="quantity-minus">
       <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
       <path d="M3.33337 8H12.6667" stroke="#64748B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
       </svg>
    </div>
    </div>
  </div> 

   <div class="cart-and-pay">
    <input type="hidden" class="add-to-cart-url" value="/on/demandware.store/Sites-dartagnan-Site/default/Cart-AddProduct">
    <button class="btn-buy" data-toggle="modal" data-target="#chooseBonusProductModal" data-pid="ZDUMA006">
    <i class="fa fa-shopping-bag"></i>
       Додати до кошика
    </button>
  </div> 
</div> -->
