.about-me-section {
   padding-top: 64px;
  padding-bottom: 64px; 
  background-color: var(--lightgrey);
}
.content-box {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
  padding-bottom: 32px;
}

.accordion-content {
  text-align: start;
}

.intro-box {
  border-radius: 24px;
  background-color: var(--lightgrey);
  padding: 32px 32px 0 32px;
  height: 500px;
}

.accordion-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  width: 100%;
  padding-left: 0px;
  padding-bottom: 12px;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
  fill: var(--dark);
}

.accordion-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--dark);
}

.accordion-item {
  overflow: hidden;
}

.accordion-icon {
  border: 1px solid var(--dark);
  border-radius: 50%;
  padding: 10px;
  width: 20px;
  height: 20px;
}

.icon-arrow {
  stroke: var(--dark);
}

.accordion-item.open .accordion-icon svg {
  transform: rotate(180deg);
}

.accordion-content {
  max-height: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--dark);
  gap: 10px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

.accordion-article {
  padding-bottom: 32px;
  width: 100%;
}

.accordion-item.open .accordion-content {
  opacity: 1;
}
.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: var(--dark);
  margin: 16px 0;
  border: none;
}
.ac-article {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--dark);
  padding-bottom: 10px;
}
.swiper-about {
  overflow: visible;
}
@media screen and (max-width: 375px) {
  .about-img {
    height: auto;
  }
}
@media (max-width: 600px) {
  .about-me {
    flex-direction: column;
    text-align: center;
  }
  /* .about-me img {
    width: 100%;
    height: auto;
  } */
  .swiper-about {
    overflow: visible;
  }
  .swiper-about {
    height: auto;
  }
  /* .swiper-about img {
    max-height: 90vh;
  }  */
}

@media screen and (min-width: 768px) {

  .intro-text {
    font-size: 38px;
    line-height: 105%;
  }

  .about-img {
    min-height: 700px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  .content-box {
    flex-direction: row;
    padding-bottom: 46px;
  }

  .picture-box {
    min-width: 50%;
  }

 
  .accordion-article {
   padding-bottom: 32px;
   width: 100%;
 }

  .accordion-content {
    padding-right: 68px;
    text-align: start;
  }
 
  .next-line {
    display: block;
  }
}

.swiper-about {
  position: relative;
  /* overflow: hidden; */
  overflow: visible;
  width: 260px;
  height: 130px;
}
.swiper-slide.about {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 50%; */
  text-align: center;
  /* border: 2px solid #444; */
  transition: transform 0.3s, background 0.3s;
  min-height: 130px;
  /* font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em; */
  color: #fafafa;
/* 
  border-radius: 100%;
  stroke-width: 1px;
  stroke: rgba(250, 250, 250, 0.2); */
}
.button-about-swiper {
  background-color: transparent;
  border: none;
}

.swiper-about-container {
  display: flex;
  margin-top: 32px;
  position: relative;
}
.swiper-button-next-2 {
  position: absolute;
  margin-top: 51px;
  /* margin-left: 55px; */
  right: 0;
}

.arrow-next-about {
  stroke: var(--dark);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.arrow-next-about:hover {
  stroke: var(--navy-blue);
}
@media screen and (min-width: 768px) {
  .swiper-about {
    width: 700px;
    height: 200px;
  }
  .arrow-next-about {
    width: 40px;
    height: 40px;
    stroke: var(--dark);
  }
  .swiper-button-next-2 {
    margin-top: 80px;
    margin-left: 64px;
  }
  .swiper-slide.about {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.02em;
  }
}
@media screen and (min-width: 1440px) {
  .about-me-section {
    padding: 90px 0;
 }
  .container-about {
    min-width: 1340px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .swiper-about {
    width: 1200px;
    height: 200px;
  } 
  .swiper-about-container {
    padding: 0 32px;
  }
  .swiper-button-next-2 {
    margin-left: 72px;
  }

  .swiper-slide .about {
    min-width: 300px;
    min-height: 200px;
  }
  .title-about {
    margin-bottom: 44px;
  }
  .content-box {
    min-width: 100%;
  }

  .swiper-about {
    overflow: visible;
  }
 
  .intro-box {
    min-width: 50%;
  }
  .image-box {
    min-width: 50%;
  }
  /* .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /
  } */

}
